h1, h2, h3, h4 {
    color: #9B0014;
    font-weight: bold;
}

h1.title {
    text-align: center;
    font-size: 50px;
}

.book .book-body .page-inner section.normal h1.subtitle {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

/*----------Color links---------*/
a {
    color: #8C3031;
    font-weight: bold;
}

/*----------Color active TOC---------*/
.book .book-summary ul li a:hover, .book .book-summary ul li.active>a {
    color: #9B0014;
    background: 0 0;
    text-decoration: none;
}
